.real-state{
  background-color: #F8F8FA;
  padding: 100px 66px;
  &__titleBlock{
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
  }
  &__title{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #000000;
  }
  &__subtitle{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 158.5%;
    letter-spacing: 0.01em;
    color: #626161;
  }
  &__row{
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  &__column{
    position: relative;
    &-name{
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: #000000;
      margin-bottom: 10px;
    }
    &-address{
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: #000000;
      margin-bottom: 10px;
    }
    &-price{
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }
  &__img{
    margin-bottom: 17px;
  }
}

